<div class="dashboard-container">
  <div class="welcome-section">
    <h1>Welcome, {{ username() }}!</h1>
    <p>Email: {{ email() }}</p>
  </div>

  <div class="table-section">
    <div style="display: flex; align-items: center; gap: 12px">
      <div style="flex: 0 0 70%">
        <h2>Users List</h2>
      </div>

      <div class="search-section" style="flex: 1">
        <mat-form-field style="width: 100%">
          <mat-label>Search users</mat-label>
          <input
            matInput
            type="text"
            #searchInput
            [value]="usersStore.searchQuery()"
            (input)="usersStore.onSearch(searchInput.value)"
            placeholder="Ex. John Doe"
          />
          @if (usersStore.searchQuery()) {
            <button matSuffix matIconButton aria-label="Clear" (click)="usersStore.onSearch('')">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
      <div style="flex: 1">
        <button style="width: 100%" mat-stroked-button type="button" (click)="reloadUsers()">
          Reload
        </button>
      </div>
    </div>

    @if (usersStore?.isLoading()) {
      <div class="loading">
        <div class="spinner"></div>
        <p>Loading users...</p>
      </div>
    } @else if (usersStore?.error()) {
      <div class="error-message">
        <p>{{ usersStore.error()?.message }}</p>
      </div>
    } @else if (usersStore.filteredUsers().length > 0) {
      <table
        mat-table
        [dataSource]="usersStore.filteredUsers()"
        [trackBy]="trackByUserId"
        class="users-table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    } @else {
      <div class="no-data">No users found</div>
    }
  </div>
</div>
